* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 18px 60px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #0a66c2;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #222;
    font-size: 16px;
    font-weight: 500;
}

nav a:hover {
    color: #0a66c2;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 60px 80px;
    background: linear-gradient(to right, #e8f1ff, #fff);
}

.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 45px;
    font-weight: 700;
}

.hero-left h1 span {
    color: #0a66c2;
}

.subtitle {
    margin: 15px 0 25px;
    font-size: 18px;
    color: #555;
}

.btn {
    padding: 12px 25px;
    background: #0a66c2;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #004c99;
}

/* HERO IMAGE */
.hero-right img {
    width: 340px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
}

/* ABOUT SECTION */
.about {
    padding: 80px 60px;
    text-align: center;
    background: #fff;
}

.about h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.about p {
    width: 70%;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
    color: #444;
}
/* ABOUT SECTION */
.about {
    padding: 80px 60px;
    text-align: center;
    background: #fff;
}

.about h2 {
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 700;
}

.about p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    color: #444;
    margin-bottom: 40px;
}

/* RESUME BUTTON */
.resume-btn {
    display: inline-block;
    padding: 12px 30px;
    background: #0a66c2;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.resume-btn:hover {
    background: #004c99;
    transform: translateY(-3px);
}
